.cart-container{
    padding: 10px 40px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.cart-container img{
    width: 50px;
    border-radius: 25px;
}
.cart-container span{
    cursor: pointer;
}